@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The privacy policy is as follows:</p>
<li>thou shalt not kill</li>
<li>thou shalt not steal</li>
<li>thou shalt not lie</li>
<li>thou shalt not harm</li>
<li>thou shalt not fuck</li>